.backgroundContainer {
  z-index: 1;
  position: absolute;
  width: 962px;
  height: 902px;
  flex-shrink: 0;
  border-radius: 962px;
  background: radial-gradient(
    46.83% 46.83% at 50% 55.06%,
    rgba(96, 183, 205, 0.5) 0.48%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: -300px;
  transform: translateX(-400px);
}
