@import 'utils';

.paginationWrapper {
  width: 100%;
  @include flexLayout($gap: 15px);

  button {
    border: none;
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    color: #4d4d4d;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.51px;
  }

  .currentButton {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #d6e6ea;
  }
}
