.profileImageContainer {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 676px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-top: 133px;
  border: 1px solid rgb(134, 134, 134);
  .profileImage {
    background-color: rgb(255, 255, 255);
    width: 167px;
    height: 167px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(134, 134, 134);

    .profileImagePreview {
      border-radius: 50%;
    }
  }

  .profileImageBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .profileImageSelect {
      background-color: rgb(255, 255, 255);
      width: 50px;
      height: 30px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }
  .editComplete {
  }
  .editButton {
  }
}
