.ProfileInfoInputStyle {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  background: #fff;
  padding-left: 18px;
  width: 304px;
  height: 57px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  box-sizing: border-box;

  &::placeholder {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #c1c1c1;
    font-family: Pretendard;
  }
}
.errorMessage {
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: red;
  white-space: nowrap;
  margin-right: 10px;
}
