@mixin flexLayout(
  $direction: row,
  $justifyContent: center,
  $alignItems: center,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}

@mixin common-input-styles($size: 14px, $weight: 400, $lineheight: 16px) {
  border: none;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineheight;

  &:focus {
    outline: none;
  }
}
