.mainContainer {
  margin-top: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .spanBox {
    display: flex;
    flex-direction: column;
    .titleSpan {
      width: 403px;
      height: 36px;
      flex-shrink: 0;
      color: #1c1c1c;
      text-align: center;
      font-family: Pretendard;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .explainSpan {
      margin-top: 10px;
      margin-bottom: 55px;
      color: #4d4d4d;
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .buttonBox {
    width: 954px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
    .filterBox {
      .latestButton {
        width: 90px;
        height: 37px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 0.5px solid #85b5cd;
        background: #f1f7fa;
        color: #2a6c8d;
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .popularButton {
        width: 90px;
        height: 37px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 0.5px solid #d6d6d6;
        background: #f5f6f8;
        color: #686868;
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .writeButton {
      width: 97px;
      height: 37px;
      flex-shrink: 0;
      border-radius: 40px;
      border: 1px solid #a7cadb;
      background: #f1f7fa;
      backdrop-filter: blur(3px);
      color: #2a6c8d;
      text-align: center;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
    }
  }

  .portfolioList {
    gap: 45px;
    width: 952px;
    min-height: 537px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
