.portfolioDetailContainer {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  .portfolioDetailImage {
    background-color: rgb(194, 194, 194);
    width: 600px;
    height: 800px;
    margin-right: 100px;
  }
  .portfolioCommentBox {
    background-color: rgb(194, 194, 194);
    width: 600px;
    height: 800px;
    .userName {
      background-color: rgb(207, 187, 187);
      width: 100%;
      height: 80px;
    }
    .portfolioDetail {
      background-color: rgb(236, 236, 209);
      width: 100%;
      height: 80px;
    }
    .portfolioLike {
      background-color: rgb(207, 187, 187);
      width: 100%;
      height: 60px;
    }
    .techStack {
      background-color: rgb(236, 236, 209);
      width: 100%;
      height: 80px;
    }
    .commentContainer {
      background-color: rgb(181, 206, 180);
      width: 100%;
      height: 440px;
      display: flex;
      justify-content: center;
    }
    .writeCommentBox {
      border: 1px solid black;
      height: 60px;
      width: 100%;
      display: flex;

      .postButton {
      }
    }
  }
}
