.mainWrapper {
  .firstSection {
    height: 550px;
    background: linear-gradient(60deg, #fffeff 20%, #e2eff4);
    display: flex;
    flex-direction: column;

    .introduceWrapper {
      flex: 1;
      position: relative;

      .imageWrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 150px;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
