@import 'utils';

.boardFormFieldWrapper {
  margin: 0 auto;
  width: 832px;

  label {
    font-size: large;
    font-weight: 400;
    line-height: 44px;
    margin-right: 10px;
  }

  .boardFormTitleContainer {
    @include flexLayout(row, center, center);
  }
  .line {
    height: 1px;
    background-color: #dadada;
  }
}
