@import 'utils';

.searchForm {
  position: relative;
  z-index: 1;

  .searchBar {
    width: 100%;
    height: 39px;
    background-color: #aecdd480;
    border: none;
    border-radius: 40px;
    padding: 0 20px 0 90px;
    outline: none;
  }

  .communitySearchBar {
    background-color: #f0f0f080;
    border: 1px solid #cccccc;
    height: 30px;
    padding: 0 15px 0 35px;
  }

  .iconContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;

    .filterIcon {
      @include flexLayout;
    }

    .searchIcon {
      @include flexLayout;
    }
  }

  .communityIconContainer {
    padding: 0 8px;
  }
}
