@import 'utils';
.headerWrapper {
  @include flexLayout($justifyContent: space-between);
  padding: 30px 150px;
  a {
    @include flexLayout($justifyContent: flex-start, $gap: 7px);
    color: #202020;
    text-decoration: none;
    &:hover {
      color: gray;
    }
    h1 {
      font-family: 'Yeongdo-Rg', sans-serif;
      font-size: '25px';
      font-weight: 400;
      line-height: 33.5px;
    }
    p {
      font-weight: 200;
      font-size: 12px;
      line-height: 14.32px;
    }
  }
  .navWrapper {
    @include flexLayout($gap: 35px);
    color: #4d4d4d;
    ul {
      @include flexLayout($gap: 15px);
      list-style-type: none;
    }
    a {
      color: #4d4d4d;
      text-decoration: none;
      &:hover {
        color: gray;
      }
      div {
        font-size: 13px;
        font-weight: 400;
        line-height: 15.51px;
      }
    }
    .authArea {
      @include flexLayout($gap: 3px);
      font-size: 11px;
      font-weight: 200;
      line-height: 13.13px;
    }
  }
}
