.reportBox {
  background-color: white;
  width: 550px;
  height: 400px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  .reportTitle {
    .reportRecomfirm {
    }
    .reportButton {
    }
  }
  .reportContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    .reportContent {
      background-color: azure;
      width: 400px;
      height: 300px;
    }
  }
  .reportButtonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    .reportButton {
    }
  }
}
